#
# OCaml object files
#
*.cmo
*.cmx
*.cmi
*.cma
*.cmxa
.depend
*.cb
*.cn
*.byte
*.native
#
# C object files
#
*.o
*.a
#
# Autoconf files
#
.product
autom4te.cache/
config.log
config.status
configure
meta/META
/Makefile.config
/Makefile.local
#
# Manual files
#
*.odoc
.cookie_doc_*
#
# TeX and METAPOST object files
#
.cookie.*
*.aux
*.log
*.mps
*.d
*.mpx
mpxerr.tex
mpxerr.log
#
# Mac OS-X
#
.DS_Store
#
# Wiki
#
Wiki/
